In [1]:
#Import libraries
import os
import pandas as pd
import subprocess
import altair as alt
import matplotlib.pyplot as plt
import numpy as np
import json
from pandas import json_normalize

In [2]:

os.chdir('C://Users/pmarshal/Documents/Climate-Outlook/monthly-climate')
os.getcwd()

'C:\\Users\\pmarshal\\Documents\\Climate-Outlook\\monthly-climate'

In [3]:
# Import dataset
temp = pd.read_csv('data/QD1_temps.csv', parse_dates=['date']) 
temp['year'] = pd.DatetimeIndex(temp['date']).year
temp['month'] = pd.DatetimeIndex(temp['date']).month
temp['day'] = pd.DatetimeIndex(temp['date']).day
temp['DOY'] = pd.DatetimeIndex(temp['date']).dayofyear
temp.head()

,date,mean_TA,min_TA,max_TA,rain,rain_cum_yr,rain_cum_wyr,year,month,day,DOY
0,2003-01-01,3.2,2.3,5.0,5.33,5.33,NaN,2003,1,1,1
1,2003-01-02,7.1,2.8,9.4,26.66,31.99,NaN,2003,1,2,2
2,2003-01-03,5.4,4.4,8.6,45.22,77.21,NaN,2003,1,3,3
3,2003-01-04,7.4,4.6,10.7,7.37,84.58,NaN,2003,1,4,4
4,2003-01-05,4.7,2.2,7.3,26.17,110.75,NaN,2003,1,5,5

In [ ]:
domain = [3, 4, 5]
range_ = ['orange', '#FE3F46', 'darkred']