In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import altair as alt

In [2]:
os.chdir('C://Users/pmarshal/Documents/ET_model')
os.getcwd()

'C:\\Users\\pmarshal\\Documents\\ET_model'

In [3]:
# Import dataset
qd_ta = pd.read_csv('cap_QD1_temp.csv', parse_dates=['datetime']) 
qd_ta.set_index('datetime', inplace=True)
qd_pc = pd.read_csv('cap_QD1_pc.csv', parse_dates=['datetime'])
qd_pc.set_index('datetime', inplace=True)
qd_pc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 158736 entries, 2002-09-11 00:00:00 to 2020-10-19 23:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   pc      157121 non-null  float64
dtypes: float64(1)
memory usage: 2.4 MB

In [4]:
qd_ta.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 157762 entries, 2002-09-11 01:00:00 to 2020-10-19 23:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   temp    157762 non-null  float64
dtypes: float64(1)
memory usage: 2.4 MB

In [5]:
# Import dataset
qd_rh = pd.read_csv('cap_QD1_rh.csv', parse_dates=['datetime']) 
qd_rh.set_index('datetime', inplace=True)
qd_us = pd.read_csv('cap_QD1_us.csv', parse_dates=['datetime'])
qd_us.set_index('datetime', inplace=True)
qd_us.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 157255 entries, 2002-09-11 01:00:00 to 2020-10-19 23:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   wspd    157255 non-null  float64
dtypes: float64(1)
memory usage: 2.4 MB

In [6]:
qd_rh.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 157255 entries, 2002-09-11 01:00:00 to 2020-10-19 23:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   rh      155574 non-null  float64
dtypes: float64(1)
memory usage: 2.4 MB

In [11]:
qd_et.fillna(0, inplace=True)
qd_et.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27191 entries, 2020-10-20 00:00:00 to 2023-12-01 22:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ET      27191 non-null  float64
dtypes: float64(1)
memory usage: 424.9 KB

In [13]:
qd_ta.interpolate(method='linear', inplace=True, limit=12, limit_direction='both')
qd_ta.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27141 entries, 2020-10-20 00:00:00 to 2023-12-01 23:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    27141 non-null  float64
dtypes: float64(1)
memory usage: 424.1 KB

In [8]:
# Example merging two dataframes (replace with your dataframes)
qd_ta_pc = qd_ta.merge(qd_pc, how='outer', left_index=True, right_index=True)
qd_ta_pc_rh = qd_ta_pc.merge(qd_rh, how='outer', left_index=True, right_index=True)
df_combined = qd_ta_pc_rh.merge(qd_us, how='outer', left_index=True, right_index=True)
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 158993 entries, 2002-09-11 00:00:00 to 2020-10-19 23:00:00
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   temp    158014 non-null  float64
 1   pc      157375 non-null  float64
 2   rh      155828 non-null  float64
 3   wspd    157509 non-null  float64
dtypes: float64(4)
memory usage: 6.1 MB

In [9]:
df_combined.reset_index(inplace=True)
df_combined.head()

             datetime  temp   pc    rh  wspd
0 2002-09-11 00:00:00   NaN  0.0   NaN   NaN
1 2002-09-11 01:00:00  13.4  0.0  91.0   3.1
2 2002-09-11 02:00:00  13.3  0.0  90.0   2.6
3 2002-09-11 03:00:00  13.2  0.0  91.0   3.1
4 2002-09-11 04:00:00  13.0  0.0  91.0   2.8

In [10]:
df_combined.to_csv('qd1_combined.csv', index=False)